<?xml version="1.0"?>
<configuration>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="pokertimer.html" />
      </files>
    </defaultDocument>
    <staticContent>
         <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
         <mimeMap fileExtension=".ogg" mimeType="application/ogg" />
      </staticContent>
  </system.webServer>


</configuration>